body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object {
	padding: 0;
	margin: 0; 
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
fieldset, img, abbr {
	border: 0;
	}
address, caption, cite, code, dfn, em, 
h1, h2, h3, h4, h5, h6, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
ul {
	list-style: none;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-size: 1.0em;
	}
q:before, q:after {
	content: '';
	}
a, ins {
	text-decoration: none;
	}

body{
	background: url(image/back.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.main{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}
.main p{
	margin-top:20px;
	margin-bottom:20px;
}
.table-wide1{
	margin-top:20px;
}
.main li{
	list-style:disc;

}
.main h1{
	font-size: 45px;
	margin-top:20px;
	font-weight:bold;
}
.main h2{
	font-size: 25px;
		font-weight:bold;
}
.main hr{
	width:1290px;
}
.verx{	
    height: 150px;
}
.unikmest{
padding-left:50px;
font-size: 17px;
	line-height:1.5;
}
.logo{
    max-height: 100px;
    max-width: 250px;
    width: auto;
	margin-right:17px;
	float:left;
}
.z{ 
 font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 30px;
    text-decoration: none;
	padding-top:50px;
}
.z:hover{
	text-decoration:underline ;
}
.buttonlogin{
	border:none;
	outline:none;
	display:inline-block;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	font-size:16px;
	padding:12px 16px;
	border-radius:100px;
	background-color:rgba(255,255,255,0.6);
	float:right;
}
span{
	color:white;
}
span:hover{
	text-decoration:underline;
}
.buttonreg{
	float:right;
	border:none;
	outline:none;
	display:inline-block;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	font-size:16px;
	padding:12px 16px;
	border-radius:100px;
	margin-right:10px;
	background-color:rgba(255,255,255,0.6);
}
.menu{
padding-left:50px;
margin-top:30px;
display:flex;
}
.legendi{
	font-size: 28px;
	line-height: 1.5;
}
.menu li{
width:160px;
list-style:none;
position:relative;
color:white;
z-index:15;
display:block;
text-align:center;
}
.menu li p{
	color:white;
}
.vipad{
	background-color:white;
	border: 1px solid gray;
	padding: 10px 10px;
	position: relative;
	background: #eee;
	border-radius: 3px;
}
.vipad:before {
	content: ""; 
	border: solid transparent;
	position: absolute;   
	bottom: 100%;
	left: 50%;
	border-bottom-color: #eee;
	border-width: 9px;
	margin-left:-9px;
}
.menu p:hover{
	text-decoration:underline;
}
.menu a{
font-family: 'Times New Roman', sans-serif;
text-decoration: none;
text-align:center;
color:black;
text-decoration:none;
font-size: 18px;
height: 40px;
line-height: 40px;
width:120px;
}
.menu a:hover{
	background-color:rgba(120,120,120,0.5)
}
.menu ul{
position: absolute;
left: 0;
top: 100%;
display: none;
padding: 0;
}
.menu li:hover ul{
	display: block;
}
.content{
	height:auto;
	background-color:rgba(255,255,255,0.6);

	padding:15px;
}
.content2{
	height:920px;
	background-color:rgba(255,255,255,0.6);

	padding:15px;
}
.map{
	width:900px;
	height:700px;
	frameborder:0;
}
.content2 h1{
	text-align:center;
}
.content2 p{
	text-align:center;
	font-size: 40px;
}
.content3{
	height:3550px;
	background-color:rgba(255,255,255,0.6);
	padding:15px;
}
.content4{
	height:2400px;
	background-color:rgba(255,255,255,0.6);
	padding:15px;
}
.content4 p{
	font-size:21px;
	line-height:1.5;
}
.content4 a{
	text-decoration:none;
	color:red;
}
.content4 a:hover{
	text-decoration:underline;
	text-decoration-skip-ink: none;
}
.content4 li{
	font-size:21px;
	line-height:1.5;
	margin-left: 30px;
	margin-top:15px;
	
}
.kateg{
	font-size:21px;
	line-height:1.5;
}
.content4 h2{
	margin-top: 30px;
	margin-bottom:30px;
}
.obshiybox4{
	width:900px;
	margin:0 auto;
	text-align:center;
}
.obshiybox4 img{
	width:150px;
	transition: filter .3s ease-in-out;
	filter: grayscale(100%);
}
.obshiybox4 img:hover{
	filter:grayscale(0%)
}

.content5{
	height:2200px;
	background-color:rgba(255,255,255,0.6);
	padding:10px;
}
.content5 p{
	font-size:21px;
	line-height:1.5;
}
.content5 a{
	text-decoration:none;
	color:red;
}
.content5 a:hover{
	text-decoration:underline;
	text-decoration-skip-ink: none;
}
.content5 li{
	font-size:21px;
	line-height:1.5;
}
.karts li{
	margin-left:20px;
}
.karts{
	font-size:30px;
	line-height:1.5;
}
.table-wide{
	clear:both;
	position:relative;
	margin-top:25px;
}
.table-wide th{
	font-size:24px;
	
}
.table-wide1{
	clear:both;
	position:relative;;
}
.table-wide2{
	clear:both;
	position:relative;;
}
.table-wide1 th{
	padding: 5px;
}
.table-wide-inner{
	margin: 1px 0;
	overflow-x:auto;
}
.wikitable{
	background-color:white;
	color:black;
	margin: 1px 0;
	border: 1px solid gray;
	border-collapse:collapse;
	display:table;
	text-indent: initial;
	border-spacing: 2px;
}
.content5 table{
	display: table-row-group;
	vertical-align:middle;
	border-color: inherit;
}
.content5 tr{
	display: table-row;
	vertical-align: inherit;
	border-color:inherit;
	border: 1px solid gray;
}
.content5 th{
	text-align:center;
	border: 1px solid gray;
	
}
.content5 h1{
	font-size:32px;
}
.content5 td{
	border: 1px solid gray;
}
.table-wide a{
	text-align:center;
}
.table-wide ul{
	padding-right:20px;
}
.table-wide li{
	margin-left:25px;
}
.mesto{
	text-align:center;
	font-weight:bold;
}

.karta{
	display:block;
}
.karta1{
	text-align:center;
}
.karta2{
	width:400px;
	height:150px;
}
.table-wide img{
	width: 250px;
	height:150px;
	padding:10px;
}
.logoglav{
	vertical-align:middle;
	display:block;
	margin:0px auto 0px auto;
}
.logoglav1{
text-align:center;
font-size:25px;
margin-top:50px;
}
.logoglav1 p{
	color:rgb(0,21,26);
	margin-top:10px;
}
.logoglav1 a{
	color:red;
	text-decoration:none;
}
.logoglav1 a:hover{
	text-decoration:underline;
}
.news{
	display:flex;
	margin-top:20px;
}
.newsbox{
background-color:rgba(255,255,255,0.8);
width:1150px;
margin:0px auto;
border-radius:6px;
}
.newsword{
	text-align:center;
	background-color:purple;
	width:1100px;
	margin:0 auto;
	margin-top:4px;
	border-radius:5px;
	height:40px;
	font-size:25px;
	color:white;
	padding-top:5px;
}
.newslast{
	margin-left:20px;
	margin-top:20px;
	font-size:20px;
}
.newslast a{
	text-decoration:none;
	color: red;
}
.newslast a:hover{
	text-decoration:underline red;
}
.newslast li{
	margin-left:20px;
}
.info{
	width: 1180px;
	margin: 35px auto;
	display:grid;
	grid-template-areas:
        "a b c"
        "d b c";
}
.section1{
	display:flex;
}
.section2{
	display:flex;
}
.section3{
	display:flex;
}
.bols{
	width:950px;
	height:400px;
	padding-left:170px;
}
.content3 a{
	text-decoration:none;
	color:red;
}
.content3 a:hover{
	text-decoration:underline;
	text-decoration-skip-ink: none;
}
.content3 p{
	font-size:21px;
	line-height:1.5;
}

.content3 li{
	font-size:21px;
	line-height:1.5;
	margin-left:21px;
}
.legends{
	background-color:rgba(255,255,255,0.8);
	margin:0px auto;
border-radius:6px;
width:383px;
float:left;
height:auto;
}
.obshiybox3{
	width:900px;
	margin:0 auto;
	text-align:center;
}
.obshiybox3 img{
	width:170px;
		 transition: filter .3s ease-in-out;
  filter: grayscale(100%);
}
.obshiybox3 img:hover{
	filter:grayscale(0%);
}
.legendsinfo{
	text-align:center;
	background-color:purple;
	margin:0 auto;
	margin-top:4px;
	border-radius:5px;
	height:40px;
	font-size:25px;
	color:white;
	padding-top:10px;
	width:350px;
}
.weaponinfo{
	text-align:center;
	background-color:purple;
	margin:0 auto;
	margin-top:4px;
	border-radius:5px;
	height:40px;
	font-size:25px;
	color:white;
	padding-top:10px;
	width:350px;
}
.mapsinfo{
	text-align:center;
	background-color:purple;
	margin:0 auto;
	margin-top:4px;
	border-radius:5px;
	height:40px;
	font-size:25px;
	color:white;
	padding-top:10px;
	width:350px;
}
.legends a{
	text-decoration:none;
	color:red;
}
.legends a:hover{
	text-decoration:underline;
}
.weapon a{
	text-decoration:none;
	color:red;
}
.weapon a:hover{
	text-decoration:underline;
}
.maps a{
	text-decoration:none;
	color:red;
}
.maps a:hover{
	text-decoration:underline;
}
.weapon{
	background-color:rgba(255,255,255,0.8);
	margin:0px auto;
border-radius:6px;
width:383px;
float:left;
height:auto;
}
.maps{
	background-color:rgba(255,255,255,0.8);
	margin:0px auto;
border-radius:6px;
width:383px;
float:left;
height:auto;
}
.assault{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
}
.skirmisher{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
}
.recon{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
}
.support{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
}
.controller{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
}
.content table{
	display:table;
	text-indent:initial;
}
.content tbody{
	display:table-row-group;
	vertical-align:middle;
}
.content tr{
	display:table-row;
	vertical-align:inherit;
}
.content td {
    display: table-cell;
    vertical-align: inherit;
}
.box{
	padding:5px;
	display:inline-block;
	vertical-align:middle;
}
.box1{
	display:table;
}
.obshiybox img{
	width:115px;
	 transition: filter .3s ease-in-out;
  filter: grayscale(100%);
}
.obshiybox img:hover {

  filter: grayscale(0%); 
}
.podval{
	text-align:right;
}
.podval p{
	color:white;
}
.rifles{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.smg{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.lmg{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.mark{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.shotgun{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.pistols{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.sniper{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.weapon td{
	padding-top:20px;
}
.maps td{
	padding-top:20px;
}
.BR{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.control{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.tdm{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:stretch;
text-align:center;
margin-bottom:45px;
}
.obshiybox2 img{
	width:150px;
}
table img{
	width:32px;
	height:32px;
}
.wrapper{
	margin-top:10px;
}
.slider {
	height: 700px;
	overflow: hidden;
	position: relative;
	width: inherit;
}
.slider img{
	width:1300px;
	height:700px;
}
.wrapper > input {
	display: none;
}
.slides {
	height: 500px;
	position: absolute;
	width: inherit;
}
.wrapper .controls {
	padding-left:625px;
	margin-left: -98px;
	position: absolute;
}
.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}
.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.slides {
	height: 500px;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #ddd;
}